@model IEnumerable<HrPortalV2.Models.Company>

@{
    ViewData["Title"] = "Firmalar";
}
<h2>Firmalar</h2>

<p>
    <a asp-action="Create"class="btn btn-sm  btn-primary">Yeni Firma</a>
</p>
<table class="table" id="tblRecords">
    <thead>
        <tr>
            <th class="text-nowrap all">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th class="text-nowrap">
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th class="text-nowrap">
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th class="text-nowrap">
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th class="text-nowrap">
                @Html.DisplayNameFor(model => model.County)
            </th>
            <th class="text-nowrap">
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th class="text-nowrap">
                @Html.DisplayNameFor(model => model.Sector)
            </th>
            <th class="text-nowrap">
                @Html.DisplayNameFor(model => model.IsApproved)
            </th>
            <th class="text-nowrap">
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th class="text-nowrap">
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th class="text-nowrap">
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th class="text-nowrap">
                @Html.DisplayNameFor(model => model.ContactName)
            </th>
            <th class="text-nowrap">
                @Html.DisplayNameFor(model => model.Logo)
            </th>
            <th class="text-nowrap">
                @Html.DisplayNameFor(model => model.Website)
            </th>
            <th class="text-nowrap">
                @Html.DisplayNameFor(model => model.CreateDate)
            </th>
            <th class="text-nowrap">
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
            <th class="text-nowrap">
                @Html.DisplayNameFor(model => model.UpdateDate)
            </th>
            <th class="text-nowrap">
                @Html.DisplayNameFor(model => model.UpdatedBy)
            </th>
            <th class="text-nowrap">
                @Html.DisplayNameFor(model => model.IPAddress)
            </th>
            <th class="text-nowrap all" data-orderable="false" >Eylemler</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.County.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sector.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsApproved)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Logo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Website)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdateDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IPAddress)
            </td>
            <td class="text-nowrap all">
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-primary">Düzenle</a>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-default">Ayrıntılar</a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Sil</a>
            </td>
        </tr>
}
    </tbody>
</table>
