@model Message
@{
    ViewData["Title"] = "Mesaj";
}
<div class="row">
    <div class="col-md-12">
        <p>
            <strong>Kimden:</strong><span>@Model.FromName</span>
        </p>
        <p>
            <strong>Konu:</strong><span>@Model.Title</span>
        </p>
        <p>
        <strong>Mesaj İçeriği:</strong><br />
            @Model.Description</p>
        <p>
            <strong>Tarih:</strong>
            @Model.CreateDate
        </p>
        <hr />
        <br />
        <fieldset>
            <legend>Yanıtla:</legend>

            <form action="@(User.IsInRole("Candidate")?Url.Action("SendMessageToCompany"):Url.Action("SendMessageToResume"))" method="post">
                <input type="hidden" name="To" value="@Model.From" />
                <input type="hidden" name="From" value="@Model.To" />
                <div class="form-group">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" readonly />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <textarea name="Description" class="form-control" rows="8"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success btn-sm">Gönder</button>
                    <a href="javascript:void(0);" onclick="history.back();" class="btn btn-danger btn-sm">İptal</a>
                </div>
</form>
        </fieldset>
    </div>
</div>


