@using Microsoft.AspNetCore.Identity

@inject SignInManager<HrPortalV2.Models.ApplicationUser> SignInManager
@inject UserManager<HrPortalV2.Models.ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{

    var profilePhoto = UserManager.Users.FirstOrDefault(f => f.UserName == User.Identity.Name)?.Photo;
    if (string.IsNullOrEmpty(profilePhoto)) {
        profilePhoto = "/images/profil_foto.png";
    }
    else
    {
    profilePhoto = "/uploads/profiles/" + profilePhoto;
    }

    

    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            @if (User.IsInRole("Company"))
            {
                <li style="margin-left:3px;">
                    <button type="button" onclick="window.location='/Jobs/Create'" class="btn btn-default btn-sm">
                        <i class="icon-bell"></i>
                        İlan Yayınla
                    </button>

                </li>
            }
            @if (User.IsInRole("Candidate"))
            {
                <li style="margin-left:3px;">
                    <button type="button" onclick="window.location='/Resumes/Create'" class="btn btn-success btn-sm">
                        <i class="icon-bell"></i>
                        CV Oluştur
                    </button>

                </li>
            }
            <!-- BEGIN INBOX DROPDOWN -->
            <li class="dropdown dropdown-extended dropdown-inbox dropdown-dark" id="header_inbox_bar">
                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                    <span class="circle">@(ViewBag.MessageCount ?? 0)</span>
                    <span class="corner"></span>
                </a>
                <ul class="dropdown-menu">
                    <li class="external">
                        <h3>

                            <strong>@ViewBag.MessageCount Yeni </strong> Mesajınız Var

                        </h3>
                        @if (User.IsInRole("Candidate"))
                        {
                        <a asp-controller="Messages" asp-action="MyMessagesSentToMyResumes">tümünü göster</a>
                        } else {
                        <a asp-controller="Messages" asp-action="MyMessagesSentToMyCompanies">tümünü göster</a>
                        }
                    </li>
                    <li>
                        <ul class="dropdown-menu-list scroller" style="height: 275px;" data-handle-color="#637283">
                            @if (ViewBag.Messages != null)
                            {
                                @foreach (var item in (IEnumerable<Message>)ViewBag.Messages)
                                {
                                    <li>
                                        <a href="#">
                                            <span class="photo">
                                                <img src="@profilePhoto" class="img-circle" alt="" style="width:40px;">
                                            </span>
                                            <span class="subject">
                                                <span class="from"> @item.FromName </span>
                                                <span class="time">@string.Format("{0:dd.MM.yyyy}", item.CreateDate) </span>
                                            </span>
                                            <span class="message"> @(item.Description.Length > 50 ? item.Description.Substring(0, 50) : item.Description)</span>
                                        </a>
                                    </li>
                                }

                            }

                        </ul>
                    </li>
                </ul>
            </li>
            <!-- END INBOX DROPDOWN -->

            <li class="dropdown dropdown-user dropdown-dark">
                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">

                    <img alt="Profil Fotoğrafım" class="img-circle" src="@profilePhoto" style="width:40px;">
                    <span class="username username-hide-mobile">@UserManager.GetUserName(User)</span>
                </a>
                <ul class="dropdown-menu dropdown-menu-default">
                    <li>
                        <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Profilim">
                            <i class="icon-user"></i> Profilim
                        </a>
                    </li>
                    @if (User.IsInRole("Company"))
                    {
                        <li>
                            <a asp-area="" asp-controller="Messages" asp-action="MyMessagesSentToMyCompanies">
                                <i class="icon-envelope-open"></i> Mesajlarım
                                <span class="badge badge-danger"> @ViewBag.MessageCount </span>
                            </a>
                        </li>
                    }
                    @if (User.IsInRole("Candidate"))
                    {
                        <li>
                            <a asp-area="" asp-controller="Messages" asp-action="MyMessagesSentToMyResumes">
                                <i class="icon-envelope-open"></i> Mesajlarım
                                <span class="badge badge-danger"> @ViewBag.MessageCount </span>
                            </a>
                        </li>
                    }
                    @if (User.IsInRole("Candidate"))
                    {
                        <li>
                            <a asp-area="" asp-controller="Resumes" asp-action="MyResumes">
                                <i class="icon-envelope-open"></i> Özgeçmişlerim

                            </a>
                        </li>
                    }
                    @if (User.IsInRole("Candidate"))
                    {
                        <li>
                            <a asp-area="" asp-controller="JobApplications" asp-action="MyJobApplications">
                                <i class="icon-envelope-open"></i> Başvurularım

                            </a>
                        </li>
                    }
                    @if (User.IsInRole("Company"))
                    {
                        <li>
                            <a asp-area="" asp-controller="Jobs" asp-action="MyJobs">
                                <i class="icon-envelope-open"></i> İş İlanlarım

                            </a>
                        </li>
                    }
                    @if (User.IsInRole("Company"))
                    {
                        <li>
                            <a asp-area="" asp-controller="Companies" asp-action="MyCompanies">
                                <i class="icon-envelope-open"></i> Firmalarım

                            </a>
                        </li>
                    }
                    @if (User.IsInRole("Company"))
                    {
                        <li>
                            <a asp-area="" asp-controller="JobApplications" asp-action="MyJobApplicants">
                                <i class="icon-envelope-open"></i> Başvuranlar
                                <span class="badge badge-danger"> @ViewBag.jobApplicationCount </span>
                            </a>
                        </li>
                    }
                    <li class="divider"> </li>
                    <li>
                        <a href="javascript:void(0);" onclick="document.getElementById('logoutForm').submit();">
                            <i class="icon-key"></i> Çıkış
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav pull-right" style="margin-top:8px;">

        <li>
            <button type="button" onclick="window.location='/Resumes/Create'" class="btn btn-default btn-sm">
                <i class="icon-bell"></i>
                CV Oluştur
            </button>

        </li>
        <li style="margin-left:3px;">
            <button type="button" onclick="window.location='/Jobs/Create'" class="btn btn-default btn-sm">
                <i class="icon-bell"></i>
                İlan Yayınla
            </button>

        </li>
        <li style="margin-left:10px;">
            <button type="button" onclick="window.location='/Identity/Account/Login'" class="btn btn-success btn-sm">
                <i class="icon-bell"></i>
                Üye Girişi
            </button>

        </li>

    </ul>
}