@model HrPortalV2.Models.Resume

@{
    ViewData["Title"] = "Özgeçmiş Detayı - " + Model.ResumeName;
}
<link href="/assets/pages/css/profile-2.min.css" rel="stylesheet" type="text/css" />
<div class="page-content-inner">
    <div class="profile">
        <div class="tabbable-line tabbable-full-width">
         
            <div class="tab-content">
                <div class="tab-pane active" id="tab_1_1">
                    <div class="row">
                        <div class="col-md-3">
                            <ul class="list-unstyled profile-nav">
                                <li>
                                    <img src="~/Uploads/Resumes/@Model.Photo" class="img-responsive pic-bordered" alt="" />
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-9">
                            <div class="row">
                                <div class="col-md-12 profile-info bold">
                                    <h1 class="font-green sbold uppercase"> @Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)</h1>
                                    <div class="row">
                                        <div class="col-md-12">
                                           @Model.Objective
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <fieldset>
                                        <legend>Kişisel Bilgiler</legend>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <p>
                                                    <strong>Medeni Durum</strong><br />
                                                    @Html.DisplayFor(model => model.MaritalStatus)
                                                </p>
                                                <p>
                                                    <strong>Cinsiyet</strong><br />
                                                    @Html.DisplayFor(model => model.Gender)
                                                </p>
                                            </div>
                                            <div class="col-md-4">
                                                <p>
                                                    <strong>Askerlik Durumu</strong><br />
                                                    @Html.DisplayFor(model=>model.MilitaryStatus)
                                                </p>
                                            </div>
                                            <div class="col-md-4">

                                            </div>
                                        </div>
                                        
                                    </fieldset>
                                    <fieldset>
                                        <legend>İletişim Bilgileri</legend>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <p>
                                                    <strong>Telefon</strong><br />
                                                    @if (User.IsInRole("Admin"))
                                                    {<text>@Html.DisplayFor(model => model.MobilePhone)</text>}
                                                else
                                                { <text>*************</text> }
                                                    </p>
                                                <p>
                                                    <strong>E-mail</strong><br />
                                                    @if (User.IsInRole("Admin"))
                                                    {<text>@Html.DisplayFor(model => model.Email)</text>}
                                                else
                                                { <text>*************</text>}
                                                </p>
                                            </div>
                                            <div class="col-md-4">
                                                <p>
                                                    <strong>Ülke</strong><br />
                                                    @Html.DisplayFor(model => model.Country.Name)
                                                </p>
                                                <p>
                                                    <strong>Şehir</strong><br />
                                                    @Html.DisplayFor(model => model.City.Name)
                                                </p>
                                            </div>
                                            <div class="col-md-4">
                                                <p>
                                                    <strong>İlçe</strong><br />
                                                    @Html.DisplayFor(model=>model.County.Name)
                                                </p>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <fieldset>
                                        <legend>İş Deneyimleri</legend>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <p>
                                                    <strong>Toplam Deneyim</strong><br />
                                                    @Html.DisplayFor(model => model.TotalExperience)
                                                </p>
                                                <p>
                                                    <strong>Meslek</strong><br />
                                                    @Html.DisplayFor(model => model.Occupation.Name)
                                                </p>
                                            </div>
                                            <div class="col-md-4">
                                                <p>
                                                    <strong>Şu Anda Çalışıyor Mu?</strong> <br />
                                                    @Html.DisplayFor(model => model.IsCurrentlyWorking)
                                                </p>
                                            </div>
                                            <div class="col-md-4">

                                            </div>
                                        </div>
                                    </fieldset>
                                    <fieldset>
                                        <legend>Eğitim Bilgileri</legend>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <p>
                                                    <strong>Mezun Olduğu Okul</strong><br />
                                                    @Html.DisplayFor(model=>model.LastEducation)
                                                </p>
                                                <p>
                                                    <strong>Mezun Olduğu Bölüm</strong><br />
                                                    @Html.DisplayFor(model=>model.LastDepartment)
                                                </p>
                                            </div>
                                            <div class="col-md-4">
                                                <p>
                                                    <strong>Mezuniyet Yılı</strong><br />
                                                    @Html.DisplayFor(model=>model.GraduationYear)
                                                </p>
                                                <p>
                                                    <strong>Yabancı Diller</strong><br />
                                                    @Html.DisplayFor(model=>model.ForeignLanguages)
                                                </p>
                                            </div>
                                            <div class="col-md-4">

                                            </div>
                                        </div>
                                    </fieldset>
                                    <fieldset>
                                        <legend>Seminer Ve Kurslar</legend>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <p>
                                                    <strong>Seminer Ve Kurslar</strong><br />
                                                    @Html.DisplayFor(model => model.Courses)
                                                </p>
                                            </div>
                                            <div class="col-md-4">

                                            </div>
                                            <div class="col-md-4">

                                            </div>
                                        </div>
                                    </fieldset>
                                    <fieldset>
                                        <legend>Profeler ve Yetkinlikler</legend>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <p>
                                                    <strong>Projeler</strong><br />
                                                    @Html.DisplayFor(model=>model.Projects)
                                                </p>
                                            </div>
                                            <div class="col-md-4">
                                                <p>
                                                    <strong>Yetkilikler</strong><br />
                                                    @Html.DisplayFor(model=>model.Skills)
                                                </p>
                                            </div>
                                            <div class="col-md-4">

                                            </div>
                                        </div>
                                    </fieldset>
                                    <fieldset>
                                        <legend>Özgeçmiş Dosyaları</legend>
                                        <div class="row">
                                            <div class="col-md-4">

                                            </div>
                                            <div class="col-md-4">

                                            </div>
                                            <div class="col-md-4">

                                            </div>
                                        </div>
                                    </fieldset>
                                    <fieldset>
                                        <legend>Sosyal Medya Hesapları</legend>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <p>
                                                    <strong>Blog</strong><br />
                                                    @Html.DisplayFor(model => model.Blog)
                                                </p>
                                                <p>
                                                    <strong>Linkedin</strong><br />
                                                    @Html.DisplayFor(model => model.LinkedIn)
                                                </p>
                                                <p>
                                                    <strong>Github</strong><br />
                                                    @Html.DisplayFor(model => model.GitHub)
                                                </p>
                                            </div>
                                            <div class="col-md-4">
                                                <p>
                                                    <strong>Dribbble</strong><br />
                                                    @Html.DisplayFor(model=>model.Dribbble)
                                                </p>
                                                <p>
                                                    <strong>Behance</strong><br />
                                                    @Html.DisplayFor(model=>model.Behance)
                                                </p>
                                                <p>
                                                    <strong>Youtube</strong><br />
                                                    @Html.DisplayFor(model=>model.Youtube)
                                                </p>
                                            </div>
                                            <div class="col-md-4">
                                                <p>
                                                    <strong>Instegram</strong><br />
                                                    @Html.DisplayFor(model=>model.Instagram)
                                                </p>
                                                <p>
                                                    <strong>Facebook</strong><br />
                                                    @Html.DisplayFor(model=>model.Facebook)
                                                </p>
                                                <p>
                                                    <strong>Twitter</strong><br />
                                                    @Html.DisplayFor(model=>model.Twitter)
                                                </p>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <fieldset>
                                        <legend>Diğer Bilgiler</legend>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <p>
                                                    <strong>Sürücü Belgesi</strong><br />
                                                    @Html.DisplayFor(model=>model.DrivingLicense)
                                                </p>
                                                <p>
                                                    <strong>Hobiler</strong><br />
                                                    @Html.DisplayFor(model=>model.Hobbies)
                                                </p>

                                                <p>
                                                    <strong>İş Arıyor Mu?</strong><br />
                                                    @Html.DisplayFor(model => model.IsSeekingJob)
                                                </p>
                                                
                                                
                                            </div>
                                            <div class="col-md-4">
                                                <p>
                                                    <strong>Sigara Kullanıyor Mu?</strong><br />
                                                    @Html.DisplayFor(model => model.UsingCigarette)
                                                </p>
                                                <p>
                                                    <strong>Onaylandı Mı?</strong><br />
                                                    @Html.DisplayFor(model => model.IsApproved)
                                                </p>
                                                <p>
                                                    <strong>Aktif Mi?</strong><br />
                                                    @Html.DisplayFor(model => model.IsActive)
                                                </p>
                                            </div>
                                            <div class="col-md-4">
                                                <p>
                                                    <strong>Seyehat Engeli Var Mı?</strong><br />
                                                    @Html.DisplayFor(model => model.IsTravelDisabled)
                                                </p>
                                                <p>
                                                    <strong>Engelli Mi?</strong><br />
                                                    @Html.DisplayFor(model => model.IsDisabled)
                                                </p>
                                                <p>
                                                    <strong>Teşvikli Mi?</strong><br />
                                                    @Html.DisplayFor(model => model.IsSubsidized)
                                                </p>

                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                            
                                <!--end row-->
                                
                            </div>
                    </div>
                </div>
                <!--tab_1_2-->
                <!--end tab-pane-->
                <!--end tab-pane-->
            </div>
        </div>
    </div>
</div>
