@model IEnumerable<HrPortalV2.Models.Resume>

@{
    ViewData["Title"] = "Tüm Özgeçmişler";
}
<link href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="//cdn.datatables.net/responsive/2.2.1/css/responsive.dataTables.min.css" rel="stylesheet" />
<table id="tblRecords" class="table">
    <thead>
        <tr>
            <th class="text-nowrap all">
                @Html.DisplayNameFor(model => model.Photo)
            </th>
            <th class="text-nowrap all">
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th class="text-nowrap all">
                @Html.DisplayNameFor(model => model.LastName)
            </th>

            <th class="text-nowrap">
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th class="text-nowrap">
                @Html.DisplayNameFor(model => model.TotalExperience)
            </th>
            <th class="text-nowrap">
                @Html.DisplayNameFor(model => model.IsCurrentlyWorking)
            </th>
            <th class="text-nowrap">
                @Html.DisplayNameFor(model => model.IsSeekingJob)
            </th>
            <th class="text-nowrap">
                @Html.DisplayNameFor(model => model.LastEducation)
            </th>
            <th class="text-nowrap">
                @Html.DisplayNameFor(model => model.LastDepartment)
            </th>
            <th class="text-nowrap">
                @Html.DisplayNameFor(model => model.GraduationYear)
            </th>
            <th class="text-nowrap">
                @Html.DisplayNameFor(model => model.ForeignLanguages)
            </th>
            <th class="text-nowrap">
                @Html.DisplayNameFor(model => model.Occupation)
            </th>
            
            <th class="text-nowrap all" data-orderable="false">Eylemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td class="all">
                @if (!string.IsNullOrEmpty(item.Photo))
                {
                    <img width="50" src="~/Uploads/Resumes/@item.Photo" />
                }
                else
                {
                    <img width="50" src="../assets/layouts/layout3/img/avatar9.jpg" />
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalExperience)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsCurrentlyWorking)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsSeekingJob)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastEducation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastDepartment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GraduationYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ForeignLanguages)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Occupation.Name)
            </td>

            <td>
                <div class="text-nowrap">
                    <a asp-action="Details" asp-route-id="@item.Id" asp-controller="Resumes" class="btn btn-success btn-sm"><i class="fa fa-trash"></i>Özgeçmiş Detayı</a>
                    <a asp-action="SendMessageToResume" asp-controller="Messages" asp-route-resumeId="@item.Id" class="btn btn-warning btn-sm"><i class="fa fa-envelope-o"></i>Mesaj Gönder</a>
                </div>
            </td>

        </tr>
        }
    </tbody>
</table>
@section Scripts {
    <script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.1/js/dataTables.responsive.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#tblRecords').DataTable({
                responsive: true,
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.16/i18n/Turkish.json"
                }
            });
        });</script>
}