@model IEnumerable<HrPortalV2.Models.Job>

    @{
    ViewData["Title"] = "İş İlanlarım";
    }
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    <p>
        <a asp-action="Create" asp-controller="Jobs" asp-area="" class="btn btn-primary btn-sm">Yeni İş İlanı</a>
    </p>
    <table id="myTable" class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Company)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Company.Name)
                </td>
                <td>
                    <a asp-action="Apply" asp-route-id="@item.Id" asp-controller="Jobs" asp-area="" class="btn btn-primary btn-sm">Başvuru Yap</a>
                    <a asp-action="Edit" asp-route-id="@item.Id" asp-controller="Jobs" asp-area="" class="btn btn-success btn-sm"><i class="fa fa-edit"></i> Düzenle</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" asp-controller="Jobs" asp-area="" class="btn btn-danger btn-sm" onclick="return confirm('Bu ilanı silmek istediğiniz emin misiniz?');"><i class="fa fa-trash"></i> Sil</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
    @section Scripts {
    <script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable({
                responsive: true,
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.16/i18n/Turkish.json"
                }
            });
        });
        </script>
    }
