@model HrPortalV2.Models.Company

@{
    ViewData["Title"] = "Firma Detayı";
}
<link href="/assets/pages/css/blog.min.css" rel="stylesheet" type="text/css" />
<div class="page-content-inner">
    <div class="blog-page blog-content-2">
        <div class="row">
            <div class="col-lg-9">
                <div class="blog-single-content bordered blog-container">
                    <div class="blog-single-head">
                        <h1 class="blog-single-head-title">@Model.Name</h1>

                    </div>

                    <div class="blog-single-desc">

                        @Html.Raw(Model.Description)

                    </div>

                    <div class="blog-comments">
                        <h3 class="sbold blog-comments-title">Firmanın İş İlanları</h3>
                        <table id="myTable" class="table">
                            <thead>
                                <tr>
                                    <th>
                                        İlan Başlığı
                                    </th>

                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Jobs)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Title)
                                        </td>

                                        <td>
                                            <a asp-action="Apply" asp-route-id="@item.Id" asp-controller="Jobs" asp-area="" class="btn btn-primary btn-sm">Başvuru Yap</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>


                    </div>

                </div>

            </div>
            <div class="col-lg-3">
                <div class="blog-single-sidebar bordered blog-container">
                    <div>
                        <h4>İlan Detayları</h4>
                    </div>
                    <hr />
                    <div class="blog-single-sidebar-recent">
                        <p>
                            <strong>Yayınlanma Tarihi:</strong><br />@string.Format("{0:dd.MM.yyyy}", Model.CreateDate)
                        </p>
                        <p>
                            <strong>Yayın Bitiş Tarihi:</strong><br />@string.Format("{0:dd.MM.yyyy}", Model.UpdateDate)
                        </p>
                        <p>
                            <strong>Oluşturulma Tarihi:</strong><br />@string.Format("{0:dd.MM.yyyy}", Model.CreateDate)
                        </p>
                        >

                    </div>



                </div>
            </div>
        </div>
    </div>

    </div>
