@model IEnumerable<HrPortalV2.Models.JobApplication>

@{
    ViewData["Title"] = "Başvurularım";
}

<link href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="//cdn.datatables.net/responsive/2.2.1/css/responsive.dataTables.min.css" rel="stylesheet" />

<table id="myTable" class="table">
    <thead>
        <tr>
            <th class="text-nowrap all">
                @Html.DisplayNameFor(model => model.Resume)
            </th>
            <th class="text-nowrap all">
                @Html.DisplayNameFor(model => model.Job)
            </th>
            <th class="text-nowrap all">
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th class="text-nowrap">
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th class="text-nowrap all" data-orderable="false">Eylemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-controller="Resumes" asp-route-id="@item.ResumeId">
                        @Html.DisplayFor(modelItem => item.Resume.ResumeName)
                      </a>
                </td>
                <td>
                    <a asp-action="Details" asp-controller="Jobs" asp-route-id="@item.JobId">
                        @Html.DisplayFor(modelItem => item.Job.Title)
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td class="text-nowrap">
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts {
    <script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable({
                responsive: true,
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.16/i18n/Turkish.json"
                }
            });
        });
    </script>
}